<h2 class="http">Placeholder for value from HTTP URL</h2>
<h2 class="https">Placeholder for value from HTTPS URL</h2>

<script>
    $(function () {
//      We need to do two requests: with HTTP and with HTTPS
        $.get("http://api.github.com/", function (item) {
            $(".http").text(item.current_user_url);
        });

        $.get("https://api.github.com/", function (item) {
          $(".https").text(item.current_user_url);
        });
    });
</script>
